<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <meta http-equiv="X-UA-Compatible" content="IE=10"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header"  th:content="${_csrf.headerName}"/>
    <link rel="styleSheet" th:href="@{/bootstrap/css/bootstrap.css}" type="text/css"/>
    <link rel="styleSheet" th:href="@{/bootstrap/css/bootstrap-theme.css}" type="text/css"/>
    <link rel="styleSheet" th:href="@{/MyCss/index.css}" type="text/css"/>
    <script th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <title>商品详情</title>
</head>
<body style="text-align: center">


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">烨之鑫批发商城</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a th:href="@{/ProductShow}">商品<span class="sr-only">(current)</span></a></li>
                <li><a th:href="@{/llg/cart}">购物车</a></li>
            </ul>
            <!--<form class="navbar-form navbar-left">-->
            <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" placeholder="Search"/>-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-default">商品查找</button>-->
            <!--</form>-->
            <ul class="nav navbar-nav navbar-right">
                <li ><a  ><span id="username"></span></a></li>
                <li th:if="${session.SPRING_SECURITY_CONTEXT} == null "><a th:href="@{/login}">登录</a></li>
                <li th:if="${session.SPRING_SECURITY_CONTEXT} != null "><a href="#" onclick="logout()" >注销</a></li>
                <li><a href="/register">注册</a></li>
                <li class="dropdown">
                    <a href="#" th:if="${session.SPRING_SECURITY_CONTEXT} != null " class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户中心 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a  data-target="#myModal" onclick="setForm()" data-toggle="modal"  href="#">资料设置</a></li>
                        <li><a href="/llg/showOrderDetails">我的订单</a></li>
                        <li id="admin" style="display: none"><a href="/admin/admin">后台管理</a></li>
                        <li id="admins" style="display: none"><a href="/admin/allOrders">所有订单</a></li>
                        <!--<li role="separator" class="divider"></li>-->
                    </ul>
                </li>
            </ul>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div style="margin-top: 50px;font-size: 25px">商品名</div>
<div style="text-align: center;border: 2px solid #999999;width: 840px;height: 440px;padding-top: 20px;margin: 0 auto">
<img th:src="${product.productDetails.productImage}" width="800px" height="400px"/>
</div>

<div style="width: 840px;height: 400px;margin: 0 auto">
    <div id="product" style="text-align: start;width: 49%;height:60%;float: left;border: 2px solid #999999;margin-top: 20px;padding: 20px">
        <div th:id="${product.id}">商品名：<span th:inline="text">[[${product.name}]]</span></div>
        <div id="type">商品种类：<span th:inline="text">[[${product.productType.name}]]</span></div>
        <div>价格(200-5000)：<span th:inline="text">[[${product.productDetails.onePrice}]]</span></div>
        <div>价格(5000- )：<span th:inline="text">[[${product.productDetails.twoPrice}]]</span></div>
        <div>存货：<span th:inline="text">[[${product.productDetails.stock}]]</span></div>
        <div>销量：<span th:inline="text">[[${product.productDetails.salesCount}]]</span></div>
        <div th:inline="text" style="width: 360px">[[${product.productDetails.productInstruction}]]</div>
    </div>

    <div id="buyButton" style="text-align: end;width: 49%;height:60%;float: right;border: 2px solid #999999;margin-top: 20px;padding: 20px">
        <div style="text-align: center">
        <div class="btn-group" role="group">
            <span style="float:left;margin-top: 10px">购买数量：</span>
            <button style="height: 40px" type="button" class="btn btn-default" onclick="doMinus(this)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
            <button id="quantity" style="height: 40px" type="button" class="btn btn-default">1</button>
            <button style="height: 40px" class="btn btn-default" onclick="doPlus(this)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        </div>
        </div>

        <div>
        <button type="submit" th:id="${product.id}" class="btn btn-success form-control" style="height: 50px;width: 100%;margin-left: auto;margin-top: 10px;margin-bottom: 10px" onclick="doBuy(this)">立即购买</button>
        </div>
        <div>
            <button th:id="${product.id}" type="submit" class="btn btn-warning form-control" style="height: 50px;width: 100%;margin-left: auto" onclick="doAdd(this)">加入购物车</button>
        </div>
    </div>

</div>
</body>
<!-- 用户信息设置模态框（Modal） -->
<div class="modal fade" id="myModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 100%">
            <div class="modal-header " style="background: rgba(248,248,248,1)">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    个人信息设置
                </h4>
            </div>
            <div class="modal-body">
                <form id="auForm" class="form-horizontal" role="form" th:action="@{/updateUser}"   method="post">
                    <input id="userid" name="id"   type="hidden" value="" />
                    <input id="ROLE_USER" name="ROLE_USER"   type="hidden" value="" />
                    <input id="istrue" name="istrue"   type="hidden" value="" />
                    <div class="form-group">
                        <label for="updateusername" class="col-sm-3 control-label"><font color="red">*</font>用户名：</label>
                        <div class="col-sm-8">
                            <input id="updateusername" name="username" type="text" cxValidate="required"  class="form-control" placeholder="请输入名字"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-3 control-label"><font color="red">*</font>密码：</label>
                        <div class="col-sm-8">
                            <input type="password" name="password" id="password" cxValidate="ennum"  class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phonenumber" class="col-sm-3 control-label"><font color="red">*</font>号码：</label>
                        <div class="col-sm-8">
                            <input type="text" name="phonenumber" id="phonenumber" cxValidate="required"  class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-3 control-label"><font color="red">*</font>地址：</label>
                        <div class="col-sm-8">
                            <textarea  name="address" id="address" cxValidate="required"  class="form-control" style="height: 100px ; overflow: hidden"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label"><font color="red">*</font>邮箱：</label>
                        <div class="col-sm-8">
                            <input type="text" name="email" id="email" cxValidate="email"  class="form-control"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="background: rgba(248,248,248,1)" >
                <button type="button" id="saveBtn" class="btn btn-info" >
                    确认保存
                </button>
                <button type="button" id="closeBtn" class="btn btn-default" data-dismiss="modal">
                    取消修改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- #dialog-confirm -->
<script  th:inline="javascript">
    /*<![CDATA[*/
    var header = $("meta[name='_csrf_header']").attr("content");
    var token =$("meta[name='_csrf']").attr("content");
    function doPlus(button) {
        var value=$(button).prev().text();
        value=Number(value);
        value++;
        $(button).prev().text(value);
    }
    function doMinus(obj) {
        var value=$(obj).next().text();
        value=Number(value);
        if(value>1)
            value--;
        $(obj).next().text(value);
    }
    function doBuy(obj) {
        var username = [[${session.SPRING_SECURITY_CONTEXT}]];
        if(username==null||username==''){
            alert("对不起，你还没有登录");
            window.location.href="/login";
        }else {
            var id = $(obj).attr("id");
            var quantity = $(obj).parent().prev().find("button").next().text();
            $.ajax({
                url: "/addProduct",
                type: "POST",
                data: {id: id, quantity: quantity, p: "add"},
                async: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (data) {
                },
            });
            $.ajax({
                url: "/skipToPay?ids=" + id,
                type: "POST",
                data: {id: id, quantity: quantity, p: "add"},
                async: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (data) {
                    if (data != null)
                        window.location.href = "/skipToPay?ids=" + id;
                    else
                        alert("不好意思，购买失败，请与网站管理员联系");
                },
//            error : function(xhr, ajaxOptions, throwError) { }
            });
        }

    }
    function doAdd(obj) {
        var username = [[${session.SPRING_SECURITY_CONTEXT}]];
        if(username==null||username==''){
            swal({
                    title: "对不起，你还没有登录？",
                    text: "点击确定跳转登陆页面！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确定删除！",
                },
                function(){
                    window.location.href="/login";
                });
//            alert("对不起，你还没有登录");
//            window.location.href="/login";
        }else {
            var id = $(obj).attr("id");
            var quantity = $(obj).parent().prev().prev().find("button").next().text();
            $.ajax({
                url: "/addProduct",
                type: "POST",
                data: {id: id, quantity: quantity, p: "add"},
                //async : false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (data) {
                    if (data.trim() == "success") {
                        alert("加入购物车成功了呢，您真是不幸呢，23333");
                    } else {
                        alert("加入购物车失败了呢，您还真幸运啊");
                    }

                },
//            error : function(xhr, ajaxOptions, throwError) { }
            });
        }
    }
    $(function () {
        $.ajax({
            url : "/getUsername",
            type : "POST",
            data : "",
            contentType : 'application/json;charset=utf-8',
            //async : false,
            beforeSend : function(xhr) {
                xhr.setRequestHeader(header, token);

            },
            success : function(data) {
                if(data!=''){
                    $("#username").html('欢迎您,'+data);
                }
            },
//            error : function(xhr, ajaxOptions, throwError) { }
        });
        $.ajax({
            url : "/getAdminRole",
            type : "POST",
            data : "",
            contentType : 'application/json;charset=utf-8',
            //async : false,
            beforeSend : function(xhr) {
                xhr.setRequestHeader(header, token);
            },
            success : function(data) {
                if(data=='admin'){
                    $("#admin").css('display', 'block');
                }
            },
//            error : function(xhr, ajaxOptions, throwError) { }
        });
    })

    /*]]>*/
</script>
</html>