<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <meta http-equiv="X-UA-Compatible" content="IE=10"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header"  th:content="${_csrf.headerName}"/>
    <link rel="styleSheet" th:href="@{/MyCss/sweet-alert.css}" type="text/css"/>
    <link rel="styleSheet" th:href="@{/bootstrap/css/bootstrap.css}" type="text/css"/>
    <link rel="styleSheet" th:href="@{/bootstrap/css/bootstrap-theme.css}" type="text/css"/>
    <link rel="styleSheet" th:href="@{/MyCss/index.css}" type="text/css"/>
    <script th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/jquery/jquery.tips.js}"></script>
    <script th:src="@{/js/sweet/sweet-alert.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/js/cx/cx.main.js}"></script>
    <title>烨之鑫批发商城</title>
    <style>
        .borderRed{
            border-top: 1px #99CCCC solid;
        }
        .red{
            background: red;
        }
        .font-product{
            font-family: "Adobe 宋体 Std L";
            font-size:20px;
        }

        .font-price{
            font-family: "Adobe 宋体 Std L";
            font-size: 15px;
        }
        .head{
            float:left;
            width: 140px;
            height: 50px;
            padding-top: 13px;
        }
        .body{
            float:left;
            width: 120px;
            height: 100px;

            padding-top: 30px;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">烨之鑫批发商城</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a th:href="@{/ProductShow}">商品<span class="sr-only">(current)</span></a></li>
                <li><a th:href="@{/llg/cart}">购物车</a></li>
            </ul>
            <!--<form class="navbar-form navbar-left">-->
            <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" placeholder="Search"/>-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-default">商品查找</button>-->
            <!--</form>-->
            <ul class="nav navbar-nav navbar-right">
                <li ><a  ><span id="username"></span></a></li>
                <li th:if="${session.SPRING_SECURITY_CONTEXT} == null "><a th:href="@{/login}">登录</a></li>
                <li th:if="${session.SPRING_SECURITY_CONTEXT} != null "><a href="#" onclick="logout()" >注销</a></li>
                <li><a href="/register">注册</a></li>
                <li class="dropdown">
                    <a href="#" th:if="${session.SPRING_SECURITY_CONTEXT} != null " class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户中心 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a  data-target="#myModal" onclick="setForm()" data-toggle="modal"  href="#">资料设置</a></li>
                        <li><a href="/llg/showOrderDetails">我的订单</a></li>
                        <li id="admin" style="display: none"><a href="/admin/admin">后台管理</a></li>
                        <li id="admins" style="display: none"><a href="/admin/allOrders">所有订单</a></li>
                        <!--<li role="separator" class="divider"></li>-->
                    </ul>
                </li>
            </ul>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div style="border-bottom:2px #ff3300 solid;height: 120px;width: 100%;margin-bottom: 40px">
    <div class="container" style="padding-top: 35px">
        <strong style="font-size: 27px">我的购物车</strong>
        <span style="margin-left: 20px">选择您喜欢的商品，然后下单吧！</span>
    </div>
</div>
<div class="container" style="padding-right: 130px">
    <div style="overflow: auto">
        <div class="head" style="width: 160px">
            选框
        </div>
        <div class="head" style="width: 300px">
            商品名称
        </div>
        <div class="head">
            单价
        </div>
        <div class="head">
            数量
        </div>
        <div class="head">
            总价
        </div>
        <div class="head">
            删除
        </div>
    </div>


    <tr th:each="cv,iterStat : ${voList}">
        <td>
            <div th:id="${cv.product.id}" class="borderRed" style="overflow: hidden">
                <div class="body" style="width: 20px">
                    <input type="checkbox" name="productCheck" checked="checked" onclick="getProductsQuantity()"/>
                </div>
                <div class="body" style="padding: 5px;float: left">
                    <img th:src="${cv.product.productDetails.productImage}" width="120px" height="90"/>
                </div>
                <div class="body font-product" style="width: 290px ; margin-left: 20px;">
                    <span th:inline="text" > [[${cv.product.name}]] </span>
                </div>
                <div class="body font-price" style="width: 50px">
                    <span name="simplePrice" th:inline="text" >[[${cv.price}]]</span>元
                </div>
                <div style="float:left;width: 200px;margin-left: 30px;padding-top: 20px">
                    <div class="btn-group" role="group">
                        <button style="height: 40px" type="button" class="btn btn-default" onclick="doMinus(this)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                        <button name="elementNumber" style="width:80px;height: 40px" type="button" class="btn btn-default" th:inline="text">[[${cv.productCount}]]</button>
                        <button style="height: 40px" class="btn btn-default" onclick="doPlus(this)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    </div>
                </div>
                <div class="body font-price">
                    <span name="elementPrice" th:inline="text"  style="color:red;width: 140px">[[${cv.allPrice}]]</span>
                </div>
                <div class="body" style="margin-left: 35px">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"  onmousemove='removeRed(this)' onmouseout='addRed(this)' onclick="doDelete(this)"></span>
                </div>
            </div>
        </td>
    </tr>
    <div style="margin-top: 50px">
        <div style="height: 50px">
            <div style="padding-top: 20px;float: left">
            <span style="margin-right: 30px"><a href="/llg/ProductShow">继续购物</a></span>
            <span>共<span id="allProduct" style="color: red"></span>件商品，已选择<span id="checked" style="color: red"></span>件商品</span>
            </div>
            <div style="float: right">
            <span style="margin-right: 30px"> 合计：<strong id="allPrice" style="font-size: 30px;color:red">2889</strong>元</span>
            <button type="submit" class="btn btn-warning form-control" style="height:100%;width: 150px;font-size:20px" onclick="doGetChecked()">去结算</button>
            </div>
        </div>
    </div></div>
<div  style="border-bottom:2px #ff3300 solid;margin-top: 50px;"></div>
<form style="display: none;" id='formlogout' th:action="@{/logout}" method="post"></form>
<!-- 用户信息设置模态框（Modal） -->
<div class="modal fade" id="myModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 100%">
            <div class="modal-header " style="background: rgba(248,248,248,1)">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    个人信息设置
                </h4>
            </div>
            <div class="modal-body">
                <form id="auForm" class="form-horizontal" role="form" th:action="@{/updateUser}"   method="post">
                    <input id="userid" name="id"   type="hidden" value="" />
                    <input id="ROLE_USER" name="ROLE_USER"   type="hidden" value="" />
                    <input id="istrue" name="istrue"   type="hidden" value="" />
                    <div class="form-group">
                        <label for="updateusername" class="col-sm-3 control-label"><font color="red">*</font>用户名：</label>
                        <div class="col-sm-8">
                            <input id="updateusername" name="username" type="text" cxValidate="required"  class="form-control" placeholder="请输入名字"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-3 control-label"><font color="red">*</font>密码：</label>
                        <div class="col-sm-8">
                            <input type="password" name="password" id="password" cxValidate="ennum"  class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phonenumber" class="col-sm-3 control-label"><font color="red">*</font>号码：</label>
                        <div class="col-sm-8">
                            <input type="text" name="phonenumber" id="phonenumber" cxValidate="required"  class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-3 control-label"><font color="red">*</font>地址：</label>
                        <div class="col-sm-8">
                            <textarea  name="address" id="address" cxValidate="required"  class="form-control" style="height: 100px ; overflow: hidden"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label"><font color="red">*</font>邮箱：</label>
                        <div class="col-sm-8">
                            <input type="text" name="email" id="email" cxValidate="email"  class="form-control"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="background: rgba(248,248,248,1)" >
                <button type="button" id="saveBtn" class="btn btn-info" >
                    确认保存
                </button>
                <button type="button" id="closeBtn" class="btn btn-default" data-dismiss="modal">
                    取消修改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- #dialog-confirm -->
<footer style="margin-top: 30px;">
    <span style="text-align: center;">
        <p>地址: 揭阳市白塔镇老尾汽修对面</p>
        <p>手机号码: 13711919653</p>
        <p>邮箱 : <a href="mailto:903857227@qq.com">903857227@qq.com</a>.</p>
        <p>此网页最终解释权归大兄弟公司所有</p>
    </span>
</footer>


<script th:inline="javascript">
    /*<![CDATA[*/
    var header = $("meta[name='_csrf_header']").attr("content");
    var token =$("meta[name='_csrf']").attr("content");
    $(function () {
//        getProductsQuantity();
        $.ajax({
            url : "/getUsername",
            type : "POST",
            data : "",
            contentType : 'application/json;charset=utf-8',
            //async : false,
            beforeSend : function(xhr) {
                xhr.setRequestHeader(header, token);
            },
            success : function(data) {
                if(data!=''){
                    $("#username").html('欢迎您,'+data);
                }
            },
//            error : function(xhr, ajaxOptions, throwError) { }
        });
        $.ajax({
            url : "/getAdminRole",
            type : "POST",
            data : "",
            contentType : 'application/json;charset=utf-8',
            //async : false,
            beforeSend : function(xhr) {
                xhr.setRequestHeader(header, token);
            },
            success : function(data) {
                if(data=='admin'){
                    $("#admin").css('display', 'block');
                    $("#admins").css('display', 'block');

                }
            },
//            error : function(xhr, ajaxOptions, throwError) { }
        });
        getProductsQuantity();
    });
    function setForm() {
        $.ajax({
            url : "/getUser",
            type : "GET",
            beforeSend : function(xhr) {
                xhr.setRequestHeader(header, token);
            },
            success : function(data) {
                $('#userid').val(data.id);
                $('#istrue').val(data.istrue);
                $('#ROLE_USER').val(data.ROLE_USER);
                $('#updateusername').val(data.username);
                $('#password').val(data.password);
                $('#phonenumber').val(data.phonenumber);
                $('#address').val(data.address);
                $('#email').val(data.email);
            }
//            error : function(xhr, ajaxOptions, throwError) { }
        });
    }
    $(document).on('click','#saveBtn',function () {
        if (CX.Validate.form("auForm")) {
            var form = new FormData(document.getElementById("auForm"));
            $.ajax({
                url : "/updateUser",
                type : "POST",
                data:form,
                processData:false,
                contentType:false,
                beforeSend : function(xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success : function(data) {
                    $('#myModal').modal('hide');
                    sweetAlert("信息修改成功！", "个人信息已经修改完毕！", "success");

                    logout();
                }
            });

        }
    });
    function logout() {
        $('#formlogout').submit();
        return true;
    }
    function removeRed(obj) {
        obj.style.color="red"
    }
    function addRed(obj) {
        obj.style.color=""
    }
    function doPlus(button) {
        var username = [[${session.SPRING_SECURITY_CONTEXT}]];
        if(username==null||username==''){
            alert("对不起，你还没有登录");
        }else{
            var value=$(button).prev().text();
            var id=$(button).parent().parent().parent().attr("id");
            value=Number(value);
            value++;
            $(button).prev().text(value);
            $.ajax({
                url : "/llg/updateProduceCount",
                type : "POST",
                data:{"id":id,"value":value},
                //async : false,
                beforeSend : function(xhr) {
                    xhr.setRequestHeader(header, token);

                },
                success : function(data) {

                },
//            error : function(xhr, ajaxOptions, throwError) { }
            });
            getProductsQuantity();
        }

    }
    function doMinus(obj) {
        var value=$(obj).next().text();
        var id=$(obj).parent().parent().parent().attr("id");
        value=Number(value);
        if(value>1)
            value--;
        $(obj).next().text(value);
        $.ajax({
            url : "/llg/updateProduceCount",
            type : "POST",
            data:{"id":id,"value":value},
            //async : false,
            beforeSend : function(xhr) {
                xhr.setRequestHeader(header, token);
            },
            success : function(data) {

            },
//            error : function(xhr, ajaxOptions, throwError) { }
        });
        getProductsQuantity()
    }
    function doDelete(obj) {
        var id=$(obj).parent().parent().attr("id");
        $.ajax({
            url:"www.baidu.com",
            data:{id:id,p:"delete"}
        });
    }
    function doGetChecked() {
        var str="";
        for(var i=0;i<document.getElementsByName("productCheck").length;i++){
            if(document.getElementsByName("productCheck")[i].checked){
                if(str==""){
                    str=document.getElementsByName("productCheck")[i].parentNode.parentNode.getAttribute("id");
                }else {
                    str=str+","+document.getElementsByName("productCheck")[i].parentNode.parentNode.getAttribute("id");
                }
            }
        }
        if(str==""){
            swal({
                title: "未选择任何商品",
                showConfirmButton: false,
                type: "error",
            });

            return;
        }
        //id暂时无任何作用
        window.location="/skipToPay?ids="+str;
    }
    function getProductsQuantity() {
        var all=document.getElementsByName("productCheck").length;
        var allPrice=0;
        document.getElementById("allProduct").innerHTML=String(all);
        all=0;
        for(var i=0;i<document.getElementsByName("productCheck").length;i++){
            document.getElementsByName("elementPrice")[i].innerHTML=parseFloat((document.getElementsByName("elementNumber")[i].innerHTML))*parseFloat(document.getElementsByName("simplePrice")[i].innerHTML);
            if(document.getElementsByName("productCheck")[i].checked) {
                allPrice=allPrice+parseFloat(document.getElementsByName("elementPrice")[i].innerHTML);
                all++;
            }
        }
        document.getElementById("checked").innerHTML=String(all);
        document.getElementById("allPrice").innerHTML=String(allPrice);
    }
    /*]]>*/
</script>
</body>
</html>
