<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="styleSheet" th:href="@{bootstrap/css/bootstrap.css}" type="text/css"/>
    <link rel="styleSheet" th:href="@{bootstrap/css/bootstrap-theme.css}" type="text/css"/>
    <link rel="styleSheet" th:href="@{bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="styleSheet" th:href="@{MyCss/index.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{https://jqueryvalidation.org/files/demo/site-demos.css}"/>
    <script th:src="@{jquery/jquery-3.2.1.min.js}"></script>
    <script th:src="@{bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{https://code.jquery.com/jquery-1.11.1.min.js}" ></script>
    <script th:src="@{https://jqueryvalidation.org/files/dist/jquery.validate.min.js}" ></script>
    <script th:src="@{https://jqueryvalidation.org/files/dist/additional-methods.min.js}" ></script>
    <script th:src="@{http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js}" ></script>

    <style>

        body{
            /*background: url("image/login/login.jpg");*/
            background-size:cover;
        }
         .layouttt{
             background: rgba(232,232,232,0.6);
             height: 500px;
             width: 400px;
             opacity: 0.9;
         }
    </style>
</head>
<body th:background="@{image/login/login.jpg}">
<div>
    <div class="layouttt" style="position: absolute;top:15%;right: 38%">
        <div style="margin: 25px;padding-top: 20px">
            <p style="font-size: 25px;text-align: center;margin-bottom: 40px">账号登录</p>
            <form id="myform" style="margin:20px auto" th:action="@{/login}" method="post">
                <div class="form-group">
                    <input type="text" name="username" class="form-control" style="height: 50px" id="username" placeholder="登录名"/>
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" style="height: 50px" id="password" placeholder="密码"/>
                </div>
                <button type="submit" class="btn btn-block form-control" style="height: 50px;margin-top: 40px">登陆</button>
            </form>
        </div >
        <div style="text-align: center;margin-top:30%">
            <hr/>
            <a th:href="@{/register}">注册</a>
        </div>
    </div>
</div>
<script>
    // just for the demos, avoids form submit
    jQuery.validator.setDefaults({
        debug: false,
        success: "valid"
    });
    $( "#myform" ).validate({
        rules: {
            username: {
                required: true,
                minlength: 2
            },
            password: "required",
            password_again: {
                equalTo: "#password"
            }
        }
    });
</script>
</body>
</html>
